@import "../../styles/globalColors.scss";

.catalogoContainer{
    padding-top: 40px;
    background: $gradient-color;

    h3 {
        padding-bottom: 40px;
        margin: 0;
        text-align: center;
        line-height: 70px;
        font-weight: 400;
        font-size: 45px;
    }

    .productsRender{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px;

        .productBox{
            max-width: 260px;
            max-height: 322px;
            width: 260px;
            height: 322px;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 100px;

            p{
                padding: 0;
                margin: 0;
            }
            .productImage{
                border: 1px solid $primary-color;
                border-radius: 5px;
                background-color: red;
                max-width: 260px;
                max-height: 222px;
                width: 260px;
                height: 222px;
            }
        
            .productBottom{
                text-align: center;
                font-size: 25px;


                .productTitle{
                
                    font-weight: 700;
                }

                .productPrice{
                    font-weight: 400;
                    color: $primary-color;
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .catalogoContainer{ 
        .productsRender {
            padding: 0px;

        .productBox{
            max-width: 160px;
            max-height: 322px;
            width: 160px;
            height: auto;
            margin-bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;

            p{
                padding: 0;
                margin: 0;
            }
            .productImage{
                border: 1px solid $primary-color;
                border-radius: 5px;
                background-color: red;
                max-width: 160px;
                max-height: 130px;
                width: 160px;
                height: 130px;
            }
        
            .productBottom{
                text-align: center;
                font-size: 17px;


                .productTitle{
                
                    font-weight: 700;
                }

                .productPrice{
                    font-weight: 400;
                    color: $primary-color;
                }
            }
        }
    }
    } 
    
}