@import "../../styles/globalColors.scss";

.footerContainer{
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    background-color: #FEF1DE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    p{
        color: $primary-color;
        padding: 0;
        margin: 10px;
    }
    h3{
        margin: 0;
        padding: 0;
    }

    .atendimentoContainer{
        margin-bottom: 20px;
    }

}